<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home Page</title>
</head>
<body>
	<section>
		<h1>This is About page</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
			aspernatur suscipit alias dolores quisquam delectus iste natus
			necessitatibus odit dicta incidunt sed nesciunt beatae recusandae
			quod doloribus id libero eius nobis labore atque officiis consequatur
			dolore aperiam reprehenderit fuga consectetur in dolor earum
			voluptatibus! Magnam illo ullam excepturi natus obcaecati?</p>
	</section>
</body>
</html>